<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Car-King | Inicio</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
        <h1>Bienvenido a Car-King</h1>
        <p>Seleccione su rol:</p>
        <div class="roles">
            <button onclick="location.href='/conductor'">Soy Conductor</button>
            <button onclick="location.href='/recepcion/login'">Soy Recepcionista</button>
        </div>
    </div>
</body>
</html>
